.btn {
  padding: 1rem 2.5rem;
  color: var(--color-yellow);
  border: 0.125rem solid var(--color-white);
  border-radius: 5rem;
  background: transparent;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional {
  border-color: var(--color-yellow);
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.btn--institutional:hover,
.btn--institutional:active,
.btn--institutional:focus {
  border-color: var(--color-yellow);
  background-color: var(--color-white);
  color: var(--color-gray);
}

.btn--quote {
  color: var(--color-gray);
  border-color: var(--color-gray);
  background-color: transparent;
}
