/* Montserrat Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

/* Root Variables */
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-yellow: #ffc500;

  --default-padding: 1rem;
}

/* General */
body {
  padding: 7.75rem 0 0 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navigation */
.navbar {
  display: grid;
  grid-template-columns: 1fr 9fr;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  z-index: 1;
}

.navbar .navbar__links {
  justify-self: end;
}

.navbar .navbar__links li {
  margin-right: 3rem;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.navbar .navbar__links a {
  font-weight: 300;
  color: var(--color-white);
  text-decoration: none;
}

.navbar .navbar__links a:hover {
  color: var(--color-yellow);
}

/* Logo */
.logo-studion {
  font-size: 2.375rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: right;
  line-height: 1ch;
}

.logo-studion__subtitle {
  font-weight: 300;
  font-size: 0.875rem;
}

/* Default */
.copy--primary {
  color: var(--color-yellow);
}

.btn {
  padding: 1rem 2.5rem;
  color: var(--color-yellow);
  border: 0.125rem solid var(--color-white);
  border-radius: 5rem;
  background: transparent;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus {
  border-color: var(--color-yellow);
  background-color: var(--color-yellow);
  color: var(--color-white);
}

/* Slider */
#slider {
  background-color: var(--color-black);
  color: var(--color-white);
}

.slide {
  height: calc(100vh - 7.75rem);
  position: relative;
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__copy {
  position: absolute;
  top: 6.25rem;
  left: 50vw;
}

.slide__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  margin-top: 0;
}

.slide__copy h2 {
  font-size: 6.25rem;
  line-height: 6.25rem;
  text-transform: uppercase;
  margin: 30px 0;
}

.slide__copy h2 span {
  display: block;
}
