/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

/* Root Variables */
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #333333;
  --color-yellow: #ffc500;

  --default-padding: 1rem;

  color: var(--color-gray);
}

/* General */
body {
  padding: 7.75rem 0 0 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

/* Default */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.copy--primary {
  color: var(--color-yellow);
}

.btn {
  padding: 1rem 2.5rem;
  color: var(--color-yellow);
  border: 0.125rem solid var(--color-white);
  border-radius: 5rem;
  background: transparent;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional {
  border-color: var(--color-yellow);
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.btn--institutional:hover,
.btn--institutional:active,
.btn--institutional:focus {
  border-color: var(--color-yellow);
  background-color: var(--color-white);
  color: var(--color-gray);
}

.btn--quote {
  color: var(--color-gray);
  border-color: var(--color-gray);
  background-color: transparent;
}

/* Navigation */
.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
}

.navbar__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;

  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
}

.navbar .navbar__links {
  justify-self: end;
}

.navbar .navbar__links li {
  margin-right: 3rem;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.navbar .navbar__links a {
  font-weight: 300;
  color: var(--color-white);
  text-decoration: none;
}

.navbar .navbar__links a:hover {
  color: var(--color-yellow);
}

/* Logo */
.logo-studion {
  font-size: 2.375rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: right;
  line-height: 1ch;
}

.logo-studion__subtitle {
  font-weight: 300;
  font-size: 0.875rem;
}

/* Slider */
#slider {
  background-color: var(--color-black);
  color: var(--color-white);
}

.slide {
  height: calc(100vh - 7.75rem);
  position: relative;
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__copy {
  position: absolute;
  top: 25vh;
  left: 50vw;
}

.slide__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  margin-top: 0;
}

.slide__copy h2 {
  font-size: 6.25rem;
  line-height: 6.25rem;
  text-transform: uppercase;
  margin: 30px 0 60px;
}

.slide__copy h2 span {
  display: block;
}

/* Counter */
#counter {
  background-color: var(--color-yellow);
  color: var(--color-white);
  text-transform: uppercase;
}

.counter__container {
  padding: 4.375rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
}

.counter__container h3 {
  font-size: 2.1875rem;
}

.counter__container h3 small {
  font-size: 1.25rem;
  display: block;
}

/* Institutional */
.institutional {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.125rem;
  align-items: center;
  padding: 4.375rem;
}

.institutional__copy {
  padding: 0 1.875rem;
}

.institutional__copy h6 {
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
}

.institutional__copy h4 {
  font-size: 1.5625rem;
  margin-top: 1rem;
}

.institutional p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  margin-bottom: 2.5rem;
}

.institutional__image {
  max-width: 520px;
}

/* Quote */
.quote {
  background-image: url("../images/parallax.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.quote__container {
  display: grid;
  align-items: center;
  justify-items: end;
  min-height: 80vh;
}

.quote__copy {
  background-color: var(--color-white);
  padding: 5.625rem 4.375rem;
}

.quote__copy h6 {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  max-width: 53ch;
  margin: 0;
}

.quote__copy h2 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.1875rem;
  text-transform: uppercase;
  margin: 1.875rem 0;
}

.quote__copy h2 span {
  display: block;
}
